{{#extends "base"}}
{{#block "content"}}
<h1 align="center">Welcome To HomeRentCare Property Rental Database</h1>

<table class="table">

    <tr>
        <th><a href="/userdetail" class="btn btn-primary btn-lg">View Users Information </th>
        <th><a href="/propertydetail" class="btn btn-primary btn-lg">View Property Listings </th>
        <th><a href="/tenancydetail" class="btn btn-primary btn-lg">View Tenancy Details </th>
        <th><a href="/payment" class="btn btn-primary btn-lg">View Payment Details </th>
        <th><a href="/issue" class="btn btn-primary btn-lg">View Issue Details </th>
    </tr>
</table>

{{/block}}
{{/extends}}