{{#extends "base"}}

{{#block "title"}}Create New Issue{{/block}}

{{#block "content"}}

<h1>Create a New Payment</h1>
<form method="POST">
 <!--   <div class="mb-3">
        <label>Type of User</label>
        <select name="userID" class="form-control">
            {{#each userdetail}}
            <option value="{{userID}}">{{typeofUser}}</option>
            {{/each}}
        </select>
    </div> -->
    <div class="mb-3">
        <label>Type of Payment (deposit, monthly rental, electricity bill, water and gas bill, repairs, replacements,
            new purchase, return of deposit, other)</label>
        <input type="text" class="form-control" name="typeofPayment">
    </div>
    <div class="mb-3">
        <label>Date Paid</label>
        <input type="date" class="form-control" name="datePaid">
    </div>
    <div class="mb-3">
        <label>Amount Paid in RM</label>
        <input type="text" class="form-control" name="amountPaid">
    </div>
    <div class="mb-3">
        <label>Receiver Name</label>
        <input type="text" class="form-control" name="receiverName">
    </div>
    <div class="mb-3">
        <label>Payment Invoice Number</label>
        <input type="text" class="form-control" name="paymentInvoiceNumber">
    </div>
        <div class="mb-3">
        <label>Remarks</label>
        <input type="text" class="form-control" name="remarks">
    </div>
    <div class="mb-3">
        <label>Payer UserID</label>
        <input type="number" class="form-control" name="userID">
    </div>
    <div class="mb-3">
        <label>Tenancy UserID</label>
        <input type="number" class="form-control" name="tenancyID">
    </div>

    <button class="btn btn-primary">Submit</button>

</form>
{{/block}}
{{/extends}}